.clothes-form-container{
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    position:absolute;
    display: flex;
    background: url('../../assets//city-background.png');
}

.clothes-form-card{
    margin: 100px auto;
    background-color:#f8dedae7;
    border-radius: 10px;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.3);
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;

    animation-name: slideInCreate;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

@keyframes slideInCreate {
    /* 0% {
        transform: translateY(-200px) scale(0.8,0.8);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1,1);
        
    } */
    0% {
        transform: scale(1.2,1.2);
        opacity: 0;
    }
    70% {
        
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}

.form-details{
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.clothes-form-card h1 {
    font-family: 'Nunito', sans-serif;
    color: #A83C28;
    margin: 30px auto;
    font-size: 40px;
    font-weight: 800;
}

.clothes-form-card form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clothes-form-card form .field {
    display: flex;
    flex-direction: column;
}

.clothes-form-card form label {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #A83C28;
    margin-bottom: 4px;
    font-weight: 800;
    margin-bottom: 10px;
}

.clothes-form-card form .field {
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid #0a7a4c;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 8px;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.clothes-form-card form button {
    margin: 20px auto;
    width: 100px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: #A83C28;
    transition: 0.17s;
    cursor: pointer;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}

.clothes-form-card form button:hover {
    background-color: #ca5945;
    transition: 0.17s;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.clothes-form-card textarea{
    height: 100px;
    width: 100%;
    background-color: white;
    border: 1px solid #0a7a4c;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 8px;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
}

.clothes-form-card select {
    padding-top: 8px;
    /* padding-left: 8px;
    width: 103%;
    height: 40px;
    background-color: white;
    border: 1px solid #0a7a4c;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 8px;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px; */
}

.clothes-form-card .current-tags {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.clothes-form-card .current-tags .tag {
    padding: 6px 12px;
    border-radius: 16px;
    color: white;
    background-color: #18A86B;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.clothes-form-card .current-tags .tag .delete-tag {
    margin-left: 8px;
    cursor: pointer
}

.clothes-form-card .current-tags .tag .delete-tag:hover {
    color: rgb(216, 32, 0);
}

.clothes-form-card .tags-div {
    width: 100%;
    height: auto;
    position: relative
}

.clothes-form-card .add-tag {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color:white;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    top: 15%;
    right: 3%;
    padding-bottom: 1px;
    background-color: rgb(255, 170, 170);
    cursor: pointer;
}

.clothes-form-card .add-tag:hover {
    background-color: rgb(165, 48, 44);
}