.clothing-show-container,
.clothing-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('../../assets//fashion-background.jpeg');
  background-size: cover;
  background-position: center;
}

.clothing-card {
  margin-bottom: 100px;
  width: 850px;
  height: 450px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 50px;
  align-items: center;
  font-family: "Varela", sans-serif;
  animation-name: slideInCard;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.938)
}

.clothing-card.inactive {
    animation-name: slideOutCard;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes slideInCard {
    0% {
        transform: scale(1,0);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes slideOutCard {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1,0);
    }
}

.clothing-image {
  width: 350px;
  height: 350px;
}

.title {
  line-height: 28px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #a83c28;
}

.title + p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 10px;
}

/*
Colors:

#A83C28

#FF8670

#F66B54

#18A86B

#53F5B0 */
