.outfit-show-container {
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  display: flex;
}

.outfit-info{
  width: 35%;
  background-color: rgb(250, 228, 228);;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.outfit-title{
  font-family: "Varela", sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;

}

.outfit-description{
  font-size: 16px;
  margin-bottom: 20px;

}

.outfit-tags{
  margin-bottom: 40px;
}

.outfit-image{
  height: 40%;
  width: 40%;
  border-radius: 15px;
  margin-bottom: 40px;

}

.addButton{
  margin-bottom: 10px;

}

.outfit-clothes {
  padding-left: 30px;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  grid-template-rows: repeat(4, 20%);
  border-left: 1px solid rgb(248, 218, 218);
  width: 10%;
  grid-column-gap: 8%;
  grid-row-gap: 5%;
}

.clothing-elements {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  position: relative;
}

/* #A83C28","#FF8670","#F66B54","#18A86B","#53F5B0" */
.modal.inactive{
  animation-name: slideOutModal;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  display: block;
  /* opacity: 0; */
}

.modal {
  display: none;
  box-sizing: border-box;
  height: 52vh;
  width: 60%;
  position: absolute;
  left: 38%;
  bottom: 0px;
  z-index: 5;
  background-color: #f5e3e3;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.02);
}

.modal.active{
  display: block;
  animation-name: slideInModal;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes slideInModal{
  0% {
    bottom: -300px;
    opacity: 0;
  }

  70% {
    bottom: -30px;
    opacity: 1;
  }

  100%{
    bottom: 0px;
  }

}
@keyframes slideOutModal{
  0% {
    bottom: 0px;
    opacity: 1;
  }

  70% {
    bottom: -270px;
    opacity: .5;
  }

  100%{
    bottom: -300px;
    opacity: 0;
  }

}

.modal-header {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 800;
  color: #c44f4f;
}

.clothing-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 100%;
  box-sizing: border-box;
  padding: 6px;
}

.clothing-item a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: relative;
  background-color: white;
  transition: 0.3s;

  overflow: hidden;
}

.clothing-item a .shadow {
  min-width: Calc(100% - 4px);
  min-height: Calc(100% - 4px);
  border: rgb(119, 119, 119) 2px solid;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2) inset;
  border-radius: 4px;

  z-index: 4;
  position: absolute;
}

.clothing-item a img {
  height: 100%;
  width: auto;
  max-width: 100%;
  z-index: 3;
  transition: 0.3s;
}

.clothing-item a h3 {
  display: none;
  position: absolute;
  bottom: 50%;
  color: #585858;
  font-family: "Varela", sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-size: 1.2vh;
  overflow: hidden;
  transition: 0.3s;
}

.clothing-item a:hover {
  transform: scale(1.2, 1.4);
  z-index: 6;
  transition: 0.3s;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

/* .clothing-wrapper .clothing-list .clothing-item a:hover .shadow{
    transform: scale(1.2,1.3);
    transition: 0.3s;
} */

.clothing-item a:hover img {
  transform: scale(1, 0.9) translateY(-10%);
  transition: 0.3s;
}

.clothing-item a:hover h3 {
  display: block;
  bottom: 4%;
  transition: 0.3s;
}
