@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Varela&display=swap');

.landing-page {
    height: 1480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #a83b2848; */
    background-color: #ff85704f;
    position: relative;
    
}

.landing-page img.suit-impala {
    height: 600px;
    width: auto;
    position: absolute;
    right: Calc(50% - 820px);
    top: 200px;
}
.landing-page img.dress-impala {
    height: 600px;
    width: auto;
    position: absolute;
    left: Calc(50% - 820px);
    top: 200px;
}

.message {
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message img {
    margin-bottom: 30px;
}

.message p {
    margin: 40px auto 40px auto;
    width: 1080px;
    text-align: center;
    color: #A83C28;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.bottom-div-container {
    background-color: #812616;
    width: 100%;
    height: Calc(100% - 1100px);
    display: flex;
    justify-content: center;
}

.bottom-div {
    width: 1280px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 50px;
}

.bottom-div .column{
    display: flex;
    flex-direction: column;
}

.bottom-div .column h2 {
    color: white;
    font-family: 'Varela', sans-serif;
    margin-bottom: 20px;
    font-weight: 800;
}

.bottom-div .column ul li {
    color: white;
    font-family: 'Varela', sans-serif;
    margin-bottom: 12px;
}

.bottom-div .column ul li img {
    width: 200px;
    height: 80px;
}